[alias]
	wip = commit -m 'wip' --no-verify
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
	name = Makoto Dejima
	email = makoto@flank.ai
	signingkey = /Users/makotodejima/.ssh/id_ed25519
[delta]
    line-numbers = true
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.ssh/allowed_signers
[rebase]
	updateRefs = false
[init]
	defaultBranch = main
[alias]
    dif = "!f() { \
      if [ $# -eq 0 ]; then \
        set -- HEAD; \
      fi; \
      git diff \"$@\" -- . \
	':(exclude)**/environment-values.yaml' \
	':(exclude)**/dev-settings.json' \
        ':(exclude)*.test.*' \
        ':(exclude)*.snap*' \
        ':(exclude)**/tests/**' \
        ':(exclude)**/package-lock.json' \
        ':(exclude)**/Pipfile.lock'; \
    }; f"
